
<div class="row">
  <div class="col-md-6">
    <div class="contact-wrap">
      <h3>Admin Login</h3>
      <form [formGroup]="formdata" (ngSubmit)="login(formdata.value)" class="contact-form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname">Name</label>
              <input type="text" formControlName="name" class="form-control" placeholder="Your firstname">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lname">Password</label>
              <input type="text" formControlName="password" class="form-control" placeholder="Your lastname">
            </div>
          </div>

          <div class="w-100"></div>
          <div class="col-sm-12">
            <div class="form-group">
              <button>LOGIN</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div id="map" class="colorlib-map"></div>
  </div>
</div>
